#ignore entire data folder
data/input/rawdata/
data/output/
results/
scripts/outputs/sPLS-DA/
notebook/outputs/

#ignore all .DS_Store
.DS_Store
scripts/old_sPLS-DA.R
scripts/sPLS-DA.R
scripts/test.R
notebook/03_random.ipynb
notebook/99_trash.ipynb
scripts/sPLS-DA.R
scripts/.RData
scripts/Radar chart.R
scripts/.Rhistory
